.followers-box {
    height: 220px;
    width: auto;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
    background-color: #fafafa;
    border-radius: 2px;
}

.followers-box-banner {
    position: absolute;
    top: 0px;
    left:0px;   
    right: 0px;
    height: 45%;
    z-index: 1;
}

.followers-box-user-info-wrapper {
    height: 70%;
    position: absolute;
    bottom: 0px;
    left:0px;
    right: 0px;
    z-index: 1000!important;
}

.followers-box-toolbar {
    height: 50%;
    display: block;
    width: auto;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
}

.followers-box-user-icon-wrapper {
    height: 50%;
    display: block;
    width: auto;
    overflow: hidden;
}

.followers-box-user-icon {
    height: 60px;
    width: 60px;
    float: left;
    background-color: yellow;
    border-radius: 35px;
    margin-top: 10px;
    margin-left: 10px;
 
}

.followers-box-user-icon img {
    height: 60px;
    width: auto;
    border-radius: 30px;
    border: 2px solid white;
}

.followers-box-user-name {
    float: left;
    margin-left: 15px;
    margin-top: 40px;
}

.followers-box-user-name p {
    padding: 0px;
    margin: 0px;
}

.followers-box-user-name p.user-text-name {
    font-size: 1.0em;
    font-weight: 800;

}

.followers-box-user-name p.user-name {
    font-size: 0.8em;
    font-weight: 200;
}

.followers-box-toolbar-col1,
.followers-box-toolbar-col2,
.followers-box-toolbar-col3 {
    width: 33%;
    float: left;
    height: 60px;
    margin-top: 15px;
}

.tweets-toolbar-title {
    font-size: 0.9em;
    display: block;
    margin: 0 5px 0 5px;
    font-weight: 700;
    color: #323642;
}

.tweets-toolbar-count {
    font-size: 1.0em;
    display: block;
    margin: 8px 5px 0 8px;
    color: #2598FF;
    font-weight: 600;
}