body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.mainbody {

    width: 1200px;
    height: auto;
    margin: 10px auto 10px auto;
    overflow: hidden;
    background-color: white;
}

.col1 {
    width: 23%;
    float: left;
    height: 300px;
    background-color: green;
}

.col2 {
    width: 50%;
    margin-left: 2%;
    float: left;
    height: 300px;
    background-color: tomato;
}

.col3 {
    width: 23%;
    float: right;
    height: 300px;
    background-color: purple;
}

.logo {
    margin: 0 auto 0 auto;
    width: 60px;
    height: 60px;
    background-color: wheat;
}

