.tweet-box-content {
    height: 200px;
    background-color: #C2EDFF;
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.tweetbox-user-icon-col {
    float: left;
    margin-top: 12px;
    width: 16%;
    height: 100%;
    overflow: hidden;
}

.tweetbox-user-icon {
    float: right;
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    background: white;
    border-radius: 30px;
}


.tweetbox-message-content {
    float: right;
    width: 82%;
    height: 100%;
    margin-top: 12px;
    overflow: hidden;
}

.tweetbox-message-input-area {
    height: 60%;
    display:block;
    width: 100%;
    position: relative;
}

.tweetbox-toolbar-area {
    height: 40%;
    display:block;
    width: 100%;
}

