.tweet-box-content {
    height: 200px;
    background-color: turquoise;
    width: 100%;
}

.tweetbox-message-input-area {
    height: ;
    background-color: turquoise;
    width: 100%;
}

.tweet-box-content {
    height: 200px;
    background-color: turquoise;
    width: 100%;
}